@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Poppins:wght@600&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&family=JetBrains+Mono&display=block');

:root {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
